.nav{
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em 1em;
}
.nav .img{
    max-width: 100px;
    max-height: 35px;
}
.nav .links{
    display: flex;
    gap: 1.5em;
}
.nav .links .link{
    color: #333;
    text-decoration: none;
    font-size: .9em;
}