<div class="wrapper">
    <div class="card">

        <img class="img" id="card-img" src="{{ img }}" alt="Portada">

        <div class="subcard">

            <img class="logo" src="{{ logo }}" alt="logo">

            <div>
                
                <h2 class="title">{{ title }}</h2>

                <p class="channel">{{ channel }}</p>

                <p class="date">{{ date }}</p>

            </div>

        </div>

        <button (click)="cons()">add favorite</button>

    </div>
</div>