<div class="wrapper">
    
    <!-- <div class="card" *ngFor="let video of videos; let i = index">

        <img class="img" id="card-img" src="{{ video.img }}" alt="Portada">

        <div class="subcard">

            <img class="logo" src="{{ video.logo }}" alt="logo">

            <div>
                
                <h2 class="title">{{ video.title }}</h2>

                <p class="channel">{{ video.channel }}</p>

                <p class="date">{{ video.date }}</p>

            </div>

        </div>

            <button>add favorite</button>

    </div> -->
    <div class="card" *ngFor="let video of videos; let i = index">
        <app-card [data]="video"
        [routerLink]="['/post-description/',i]"></app-card>

        <button (click)="add(i)">Add favorite</button>
    </div>

</div>