.wrapper{
    background-color: bisque;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 330px));
    gap: .8em;
    margin-top: 1em;
    justify-content: center;
}