/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    /* background-image: url("https://i.gifer.com/6os.gif");
    background-repeat: no-repeat;
    background-size: contain; */
}